.board__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    box-sizing: border-box;
    margin: var(--spacing-little);
    padding: var(--spacing-medium) var(--spacing-large);
    white-space: nowrap;
    color: #fff;
    text-align: center;
    line-height: 1;
}

.card--red {
    background-color: var(--red);
}

.card--orange {
    background-color: var(--yellow);
}

.card--green {
    background-color: var(--green);
}

.card__value {
    font-weight: bold;
    font-size: 4rem;
}

.card__value span {
    font-size: 2rem;
}

.board__search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.board__search button {
    width: auto;
}

.search__select, .search__date {
    border: none;
    border-bottom: 1px solid var(--sub-color);
    background-color: #fff;
    padding: 0;
    margin: 5px;
    color: var(--sub-color-light-1);
}

.search__btn {
    flex: 1;
    max-width: 230px;
    margin: 0;
    background-color: var(--sub-color);
    color: #fff;
    border: none;
    outline: none;
    padding: 3px;
    cursor: pointer;
}

.search__btn:hover {
    transition: all 0.4s ease-in;
    background-color: var(--sub-color-light-1);
}

.search__btn:active {

    transition: initial;
    background-color: var(--sub-color);
}

.search__hide {
    display: none;
    align-items: center;
}

.board__add-room {
    display: block;
    padding: 0;
}

.add-room__btn {
    border-radius: 0;
    height: 45px;
}

.room-list__item {
    display: flex;
}

.room-list__picture {
    height: 150px;
}

.room-list__content {
    box-sizing: border-box;
    padding: 0 var(--spacing-little);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.room-list__header {
    flex: 1;
}

.room-list__title {
    font-weight: bold;
    color: var(--neutral-color);
    font-size: 3rem;
}

.room-list__type {
    color: var(--sub-color-light-1);
}