.app {
    background-color: var(--main-color-dark-2);
}

.content {
    max-width: var(--interface-size);
    margin: auto;
    padding: var(--spacing-little);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.content--small {
    max-width: calc(var(--interface-size) / 2);
}

.main {
    flex: 1;
    box-sizing: border-box;
    padding: var(--spacing-little);
}

.aside {
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
    padding: var(--spacing-little);
}

.main > :first-child, .aside > :first-child {
    margin-top: 0 !important;
}

.block {
    margin-top: var(--spacing-medium);
    box-sizing: border-box;
    padding: var(--spacing-little);
    background-color: var(--main-color);
}

.block--no-bg {
    background-color: initial;
}

.block > :first-child {
    margin-top: 0 !important;
}
.block > :last-child {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 1280px) {
    .aside {
        max-width: initial;
    }
}